target/
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java

.git
.gitignore
.idea/
.project
.classpath
.settings/
*.iml
.DS_Store
Thumbs.db
*.log
